.board {
	width: 100vw;
	position: relative;
	
}
.info {
	width: 100%;
	text-align: center;
	font-size: 3vw;
	margin-top: 20px;
	div {
		width: 25px;
		height: 25px;
		margin: auto;
		background-image: url(../../assets/restart.png);
		background-size: cover;
		&:hover {
			 animation: rotation 1.5s  linear;
		}
		@keyframes rotation {
			0% {
				transform: rotate(0deg) ;
			}
			50% {
				transform: rotate(180deg)scale(1.2);
			}
			100% {
				transform: rotate(359deg)scale(1);
			}
		}
	}
}
.container {
	position: absolute;
	display: grid;
	grid-template-columns: 120px 120px 120px;
	gap: 0px;
	transform: translate(125%, 20%);
	color: rgb(40, 41, 41);
	font-family:fantasy;
	

	div {
		text-align: center;
		padding: 2px;
		font-size: 6vw;
		width: 120px;
		height: 120px;
	}
	$radius-A1: 0px 5px 0px 200px/20px 200px 0px 5px;
	$radius-A3: 5px 0px 100px 10px/100px 0px 6px 0px;
	$radius-C1: 100px 0px 5px 0px/ 5px 0px 100px 1px;
	$radius-C3: 0px 100px 0px 7px/ 0px 5px 0px 110px;
	$border-size: solid 5px rgb(68, 67, 67);

			
	#A1 {border-right: $border-size; border-bottom: $border-size; border-radius: $radius-A1;}
	#A2 {border-bottom: $border-size;}
	#A3 {border-left: $border-size; border-bottom: $border-size;border-radius: $radius-A3;}
	
	#B1 {border-right: $border-size;}
	#B3 {border-left: $border-size;}

	#C1 {border-top: $border-size; border-right: $border-size; border-radius: $radius-C1;}
	#C2 {border-top: $border-size;}
	#C3 {border-left: $border-size; border-top: $border-size;border-radius: $radius-C3;}
}


@media  only screen and (min-width : 1600px) {
	.container {
		grid-template-columns: 150px 150px 150px;
		transform: translate(160%, 20%);
		div {
			width: 150px;
			height: 150px;
		}
	}
} 

/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 	
and (min-width : 200px) 
and (orientation: portrait)   {
	.info {
		width: 100%;
		text-align: center;
		font-size: 14vw;
		margin-top: 20px;
		button {
			width: 100px;
			height: 25px;
			font-size: 5vw;
			background-color: azure;
			border-radius: 10px;
			box-shadow: 0px 0px 1px black;
		}
	}
	.container {
		width: 100vw;
		position: absolute;
		display: grid;
		grid-template-columns: 70px 70px 70px;
		padding: 0 20px;
		transform: translate(8%, 10%);
	
		div {
			width: 70px;
			height: 70px;
			position: relative;
			font-size: 20vw;
		}
	}
}

@media  only screen 	
  and (min-width : 360px)
  and (orientation: portrait)   {

	.info {
		width: 100%;
		text-align: center;
		font-size: 10vw;
		margin-top: 20px;
		button {
			width: 80px;
			height: 25px;
			font-size: 4vw;
			background-color: azure;
			border-radius: 10px;
			box-shadow: 0px 0px 1px black;
		}
	}
	.container {
		transform: translate(0%, 20%);
		grid-template-columns: 100px 100px 100px;
		div {
			position: relative;
			font-size: 16vw;
			width: 100px;
			height: 100px;
		}
	}

}
	
@media  only screen 	
	and (min-width : 380px)
	and (orientation: portrait)   {
		.info {
			width: 100%;
			text-align: center;
			font-size: 15vw;
			margin-top: 20px;
			button {
				width: 100px;
				height: 25px;
				font-size: 4vw;
				background-color: azure;
				border-radius: 5px;
				box-shadow: 0px 0px 1px black;
			}
		}
		.container {
			width: 100vw;
			position: absolute;
			display: grid;
			grid-template-columns: 100px 100px 100px;
			padding: 0 20px;
			transform: translate(4%, 15%);
		
			div {
				width: 100px;
				height: 100px;
				position: relative;
				font-size: 20vw;
			}
		}
}

/* TABLES */

@media  only screen 	
	and (min-width : 750px)
	and (max-width : 1115px)
	and (orientation: portrait)   {
		.info {
			width: 100%;
			text-align: center;
			font-size: 7vw;
			margin-top: 20px;
			button {
				width: 120px;
				height: 30px;
				font-size: 2vw;
				background-color: rgba(240, 255, 255, 0.564);
				border-radius: 10px;
				box-shadow: 0px 0px 1px black;
			}
		}
		.container {
			grid-template-columns: 150px 150px 150px;
			gap: 15px;
			padding: 0 20px;
			transform: translate(16%, 20%);
		
			div {
				width: 150px;
				height: 150px;
				position: relative;
				font-size: 15vw;
			}
		}
}

